@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --freshGuac: #aebe89;
  --aloeCream: #dae3bb;
  --whiteLace: #fff7ec;
  --brookGreen: #a8ead5;
  --colaBrown: #2b2119;
}

#confirmationBody {
  width: 100vw;
  height: 88vh;
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#thankYou {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10vh;
  font-weight: 300;
  color: var(--freshGuac);
}

#confirmationMessage {
  width: 65%;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 3.25vh;
  font-weight: 400;
  color: var(--colaBrown);
  line-height: 1.5;
}

.conEmailLink {
  color: var(--freshGuac);
  text-decoration: underline;
}
