@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --freshGuac: #aebe89;
  --aloeCream: #dae3bb;
  --whiteLace: #fff7ec;
  --brookGreen: #a8ead5;
  --colaBrown: #2b2119;
  /* Scaling Variables */
  --navbarHeight: 10vh;
  /* Rating Variables */
  --starRatingPercentage: 50%;
}

#guidePageContainer {
  min-height: 90vh;
  width: 95%;
  display: flex;
}

#guidePageImageBox {
  width: 50%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 10vh;
}

#guidePageCarousel {
  height: min(calc(95vw / 2 * 0.8), 80vh);
  width: calc(95vw / 2 * 0.175);
  border-radius: calc(min(95vw / 2 * 0.8, 80vh) * 0.025);
  margin-right: auto;
  margin-left: 0;
}

#guidePageCarouselUp {
  width: 100%;
  aspect-ratio: 3;
  display: flex;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

#guidePageCarouselDown {
  width: 100%;
  aspect-ratio: 3;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transform: rotate(180deg);
  cursor: pointer;
}

.guidePageCarouselArrow {
  height: 50%;
  aspect-ratio: 1;
  transform: rotate(45deg);
  box-sizing: border-box;
  border-top: 0.325vh solid var(--freshGuac);
  border-left: 0.325vh solid var(--freshGuac);
  margin-top: calc(((0.175 * 95vw / 6) - (0.175 * 95vw / 24)) / 2);
}

#guidePageImageCarousel {
  height: calc(min(95vw / 2 * 0.8, 80vh) - 0.175 * 95vw / 3);
  overflow: auto;
  width: 100%;
}

#guidePageImageCarousel::-webkit-scrollbar {
  width: 0;
}

.guidePageCarouselImg {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: calc((min(95vw / 2 * 0.8, 80vh) - 0.175 * 95vw / 3) * 0.1);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

#guidePageImageMain {
  width: min(calc(95vw / 2 * 0.8), 80vh);
  aspect-ratio: 1;
  border-radius: calc(95vw / 2 * 0.8 * 0.025);
  background-size: cover;
  background-position: center;
}

#guidePageInfoBox {
  width: 50%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: calc(95vw / 2 * 0.05);
}

#guidePageSubject {
  margin-top: calc((90vh - min(95vw / 2 * 0.8, 80vh)) / 2);
  font-size: 2.5vh;
  color: var(--colaBrown);
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  text-align: left;
  height: 3.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#guidePageNew {
  margin-left: auto;
  margin-right: 0;
  height: 3.5vh;
  aspect-ratio: 2;
  background: var(--aloeCream);
  color: white;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#guidePageName {
  margin-top: 3vh;
  font-size: 6vh;
  color: var(--freshGuac);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
}

#guidePageRatingContainer {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: left;
  font-size: 4.5vh;
  font-family: "Urbanist", sans-serif;
  color: transparent;
}

.guidePageStarComplete {
  color: var(--colaBrown);
  cursor: pointer;
}

.guidePageStarIncomplete {
  background: -webkit-linear-gradient(
    0turn,
    var(--colaBrown) 0 var(--starRatingPercentage),
    var(--aloeCream) var(--starRatingPercentage) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.guidePageStarEmpty {
  color: var(--aloeCream);
  cursor: pointer;
}

#guideButtonContainer {
  margin-top: 5vh;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#addToBackpackButton {
  height: 7vh;
  width: calc(7vh * 6);
  background: var(--aloeCream);
  border: 0.325vh solid var(--aloeCream);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3.5vh;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

#addToBackpackButton:hover {
  border: 0.325vh solid var(--freshGuac);
  background: transparent;
  color: var(--freshGuac);
}

#shareGuideIcon {
  height: 5vh;
  aspect-ratio: 1;
  background-image: url("../Images/GuidePageShareIcon.png");
  background-size: contain;
  margin-left: 1vw;
  cursor: pointer;
}

#shareGuideLightbox {
  height: 45vh;
  aspect-ratio: 1.75;
  background: var(--whiteLace);
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 50;
  border-radius: calc(45vh * 1.75 * 0.025);
  display: none;
  flex-direction: column;
  align-items: center;
}

#shareGuideLightboxBackground {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  background: var(--brookGreen);
  opacity: 0.5;
  display: none;
}

#shareGuideLBHeading {
  margin-top: calc(45vh * 1.75 * 0.025);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  width: calc(45vh * 1.75 - 2 * (45vh * 1.75 * 0.05));
  font-family: "Urbanist", sans-serif;
  color: var(--colaBrown);
  font-size: 3vh;
  font-weight: 500;
}

#shareGuideLBX {
  margin-left: auto;
  margin-right: 0;
  height: 3vh;
  aspect-ratio: 1;
  background-image: url("../Images/BackpackXIcon.png");
  background-size: contain;
  cursor: pointer;
}

#shareGuideLBX:hover {
  background-image: url("../Images/BackpackXIconHover.png");
}

#shareGuideShareBox {
  height: calc(45vh - 45vh * 3.5 * 0.025 - 6vh);
  width: calc(45vh * 1.75 - 2 * (45vh * 1.75 * 0.05));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#shareGuideShareColumn {
  height: calc(0.45 * (45vh - 45vh * 3.5 * 0.025 - 6vh));
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.shareGuideBrandBox {
  height: calc(0.45 * (45vh - 45vh * 3.5 * 0.025 - 6vh));
  aspect-ratio: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.shareGuideBrandIcon {
  width: 100%;
  aspect-ratio: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.shareGuideBrandText {
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: calc(0.3 * 0.45 * (45vh - 45vh * 3.5 * 0.025 - 6vh) * 0.5);
  color: var(--freshGuac);
  margin-top: auto;
  margin-bottom: 0;
  cursor: pointer;
}

#shareGuideLinkContainer {
  width: 100%;
  aspect-ratio: 9;
  background: var(--aloeCream);
  border-radius: calc((45vh * 1.75 - 2 * (45vh * 1.75 * 0.05)) / 9 * 0.5);
  padding-left: calc((45vh * 1.75 - 2 * (45vh * 1.75 * 0.05)) / 9 * 0.5);
  padding-right: calc((45vh * 1.75 - 2 * (45vh * 1.75 * 0.05)) / 9 * 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Urbanist", sans-serif;
  color: var(--colaBrown);
  font-size: calc((45vh * 1.75 - 2 * (45vh * 1.75 * 0.05)) / 9 * 0.35);
  font-weight: 600;
  user-select: none;
}

#shareGuideLinkButton {
  margin-left: auto;
  margin-right: 0;
  height: calc((45vh * 1.75 - 2 * (45vh * 1.75 * 0.05)) / 9 * 0.65);
  aspect-ratio: 2.5;
  border-radius: calc((45vh * 1.75 - 2 * (45vh * 1.75 * 0.05)) / 9 * 0.325);
  background: var(--freshGuac);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}

#shareGuideLinkButton:hover {
  border: 0.325vh solid var(--freshGuac);
  background: transparent;
  color: var(--freshGuac);
}

#guideDescriptionText {
  margin-top: 5vh;
  margin-bottom: 6vh;
  font-size: 2.85vh;
  color: var(--colaBrown);
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  text-align: left;
}

#rateGuideLightbox {
  height: 45vh;
  aspect-ratio: 1.75;
  background: var(--whiteLace);
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 50;
  border-radius: calc(45vh * 1.75 * 0.025);
  display: none;
  flex-direction: column;
  align-items: center;
}

#rateGuideLBHeading {
  margin-top: calc(45vh * 1.75 * 0.025);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  width: calc(45vh * 1.75 - 2 * (45vh * 1.75 * 0.05));
  font-family: "Urbanist", sans-serif;
  color: var(--colaBrown);
  font-size: 3vh;
  font-weight: 500;
}

#rateGuideLBX {
  margin-left: auto;
  margin-right: 0;
  height: 3vh;
  aspect-ratio: 1;
  background-image: url("../Images/BackpackXIcon.png");
  background-size: contain;
  cursor: pointer;
}

#rateGuideLBX:hover {
  background-image: url("../Images/BackpackXIconHover.png");
}

#rateGuideRateBox {
  height: calc(45vh - 45vh * 3.5 * 0.025 - 6vh);
  width: calc(45vh * 1.75 - 2 * (45vh * 1.75 * 0.05));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#rateGuideStarColumn {
  height: calc(0.45 * (45vh - 45vh * 3.5 * 0.025 - 6vh));
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rateGuideStar {
  height: calc(0.45 * (45vh - 45vh * 3.5 * 0.025 - 6vh));
  aspect-ratio: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  font-family: "Urbanist", sans-serif;
  font-size: calc(0.35 * (45vh - 45vh * 3.5 * 0.025 - 6vh));
}

#rateGuideSubmit {
  height: 6.5vh;
  aspect-ratio: 2.75;
  background: var(--colaBrown);
  border-radius: calc(6.5vh * 0.5);
  cursor: pointer;
  font-size: 3.25vh;
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#rateGuideSubmit:hover {
  border: 0.325vh solid var(--freshGuac);
  color: var(--freshGuac);
  background: transparent;
}

.rateFormInvisible {
  display: none;
}

#rateGuideConfirmation {
  font-size: 3.25vh;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--colaBrown);
  font-weight: 400;
  text-align: center;
  display: none;
}

/* MOBILE CSS */

@media screen and (min-height: 100vw) {
  #guidePageContainer {
    width: 95%;
    min-height: unset;
    flex-direction: column;
  }

  #guidePageImageBox {
    top: unset;
    margin-top: 2vh;
    width: 100%;
    height: calc(95vw - 2 * (95vw * 0.25 / 3) + (95vw * 0.25) + 3vh);
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    position: static;
  }

  #guidePageCarousel {
    margin-top: calc(-1 * (95vw - 95vw * 0.25) / 2);
    margin-bottom: calc(-1 * (95vw - 95vw * 0.25) / 2);
    width: unset;
    height: 95vw;
    aspect-ratio: 0.25;
    margin-right: unset;
    margin-left: unset;
    transform: rotate(270deg);
  }

  .guidePageCarouselArrow {
    height: 50%;
    aspect-ratio: 1;
    transform: rotate(45deg);
    box-sizing: border-box;
    border-top: 0.325vh solid var(--freshGuac);
    border-left: 0.325vh solid var(--freshGuac);
    margin-top: calc(((95vw * 0.25 / 3) - 0.25 * (95vw * 0.25 / 3)) / 2);
  }

  #guidePageImageCarousel {
    height: calc(95vw - (95vw * 0.25 / 3 * 2));
  }

  .guidePageCarouselImg {
    margin-bottom: 4vw;
    transform: rotate(90deg);
  }

  #guidePageImageMain {
    width: calc(95vw - 2 * (95vw * 0.25 / 3));
    aspect-ratio: 1;
    border-radius: calc(95vw 0.025);
  }

  #guidePageInfoBox {
    width: 100%;
    min-height: unset;
    padding-right: calc(95vw / 2 * 0.05);
  }

  #guidePageSubject {
    margin-top: 3vh;
    font-size: 2vh;
    height: 2.5vh;
  }

  #guidePageNew {
    height: 2.5vh;
    font-size: 2vh;
  }

  #guidePageName {
    margin-top: 3vh;
    font-size: 4vh;
  }

  #guidePageRatingContainer {
    font-size: 3.5vh;
  }

  #guideButtonContainer {
    margin-top: 3vh;
    height: calc(60vw / 6);
    justify-content: space-between;
  }

  #addToBackpackButton {
    height: calc(60vw / 6);
    width: 60vw;
    font-size: calc(60vw / 10);
  }

  #shareGuideIcon {
    height: unset;
    width: 8vw;
    aspect-ratio: 1;
    background-image: url("../Images/GuidePageShareIcon.png");
    background-size: contain;
    margin-left: 1vw;
    cursor: pointer;
  }

  #shareGuideLightbox {
    height: unset;
    width: 90vw;
    aspect-ratio: 1.5;
    border-radius: calc(90vw * 0.025);
  }

  #shareGuideLBHeading {
    margin-top: calc(90vw * 0.025);
    height: 6vw;
    width: calc(95vw - 2 * (95vw * 0.075));
    font-size: 5vw;
  }

  #shareGuideLBX {
    height: 5vw;
  }

  #shareGuideShareBox {
    height: calc(90vw / 1.5 - 2 * (90vw * 0.025) - 6vw);
    width: calc(95vw - 2 * (95vw * 0.075));
  }

  #shareGuideShareColumn {
    width: 100%;
    height: calc(0.45 * (90vw / 1.5 - 2 * (90vw * 0.025) - 4vh));
  }

  .shareGuideBrandBox {
    height: unset;
    width: calc(95vw - 2 * (95vw * 0.075) / 6 - 5vw);
    flex-grow: 0;
  }

  .shareGuideBrandIcon {
    width: 90%;
  }

  .shareGuideBrandText {
    font-size: calc((95vw - 2 * (95vw * 0.075) / 6 - 5vw) * 0.0375);
  }

  #shareGuideLinkContainer {
    width: 100%;
    aspect-ratio: 9;
    border-radius: calc((95vw - 2 * (95vw * 0.075)) / 9 * 0.5);
    padding-left: calc((95vw - 2 * (95vw * 0.075)) / 9 * 0.5);
    padding-right: calc((95vw - 2 * (95vw * 0.075)) / 9 * 0.5);
    font-size: calc((95vw - 2 * (95vw * 0.075)) / 9 * 0.35);
  }

  #shareGuideLinkButton {
    height: calc((95vw - 2 * (95vw * 0.075)) / 9 * 0.65);
    border-radius: calc((95vw - 2 * (95vw * 0.075)) / 9 * 0.325);
  }

  #guideDescriptionText {
    margin-top: 3vh;
    margin-bottom: 4vh;
    font-size: 2.5vw;
  }

  #rateGuideLightbox {
    height: unset;
    width: 95vw;
    aspect-ratio: 1.5;
    border-radius: calc(95vw * 0.025);
  }

  #rateGuideLBHeading {
    margin-top: calc(95vw * 0.025);
    height: 6vw;
    width: calc(95vw - 2 * (95vw * 0.05));
    font-size: 5vw;
  }

  #rateGuideLBX {
    height: 5vw;
  }

  #rateGuideRateBox {
    height: calc(90vw / 1.5 - 2 * (90vw * 0.025) - 6vw);
    width: calc(95vw - 2 * (95vw * 0.075));
  }

  #rateGuideStarColumn {
    height: calc(0.45 * (90vw / 1.5 - 2 * (90vw * 0.025) - 6vw));
  }

  .rateGuideStar {
    height: unset;
    width: calc(95vw - 2 * (95vw * 0.075) / 6 - 5vw);
    font-size: calc((95vw - 2 * (95vw * 0.075) / 6 - 5vw) / 5 / 0.7 / 1.5);
  }

  #rateGuideSubmit {
    height: 10vw;
    border-radius: calc(10vw * 0.5);
    font-size: 5vw;
  }

  #rateGuideConfirmation {
    font-size: 5vw;
  }
}
