@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* MAIN  */

:root {
  /* Color Palette */
  --freshGuac: #aebe89;
  --aloeCream: #dae3bb;
  --whiteLace: #fff7ec;
  --brookGreen: #a8ead5;
  --colaBrown: #2b2119;
  /* Scaling Variables */
  --navbarHeight: 12vh;
  --scrollbarColor: var(--aloeCream);
}

body {
  background-color: var(--whiteLace);
  overflow: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

#pagebody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 10vh;
  box-sizing: border-box;
}

/* SCROLL */

::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 0.5vw;
  border-radius: 0.25vw;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 0.25vw;
}

/* NAVBAR */

#navbar {
  height: var(--navbarHeight);
  width: 100vw;
  background-color: var(--whiteLace);
  box-sizing: border-box;
  border-bottom: 0.25vh solid var(--aloeCream);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#navbarLogoContainer {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#navbarMainLogo {
  font-size: calc(0.5 * var(--navbarHeight));
  color: var(--freshGuac);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

#navbarSubLogo {
  font-size: calc(0.2 * var(--navbarHeight));
  color: var(--colaBrown);
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

#navbarMenuContainer {
  width: calc(75vw / 2);
  height: calc(0.8 * var(--navbarHeight));
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Urbanist", sans-serif;
  color: var(--freshGuac);
  font-size: calc(0.25 * var(--navbarHeight));
  font-weight: 400;
  box-sizing: border-box;
  padding-left: 1vw;
  padding-right: 1vw;
}

.navbarMenuOption {
  cursor: pointer;
}

.navbarMenuOption:hover {
  color: var(--colaBrown);
  font-weight: 500;
}

#navbarOptionsContainer {
  width: calc(75vw / 2);
  height: calc(0.8 * var(--navbarHeight));
  display: flex;
  align-items: center;
}

#navbarBackpackIcon {
  height: 75%;
  aspect-ratio: 1;
  background-image: url("../Images/NavbarBackpackIcon.png");
  background-size: contain;
  margin-right: 2.5vw;
  cursor: pointer;
}

#navbarBackpackIcon:hover {
  background-image: url("../Images/NavbarBackpackIconHover.png");
}

#navbarBackpackCount {
  height: calc(0.8 * 0.75 * 0.5 * var(--navbarHeight));
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--aloeCream);
  position: relative;
  z-index: 40;
  left: calc(
    0.8 * 0.75 * var(--navbarHeight) - (0.8 * 0.75 * 0.5 * var(--navbarHeight)) /
      2
  );
  top: calc(- (0.8 * 0.75 * 0.5 * var(--navbarHeight)) / 2);
  color: var(--colaBrown);
  font-size: calc(0.6 * 0.75 * 0.5 * var(--navbarHeight));
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  display: none;
  align-items: center;
  justify-content: center;
}

#navbarDonateButton {
  height: 65%;
  aspect-ratio: 2.75;
  background: var(--aloeCream);
  margin-left: auto;
  margin-right: 2vw;
  border-radius: calc(0.65 * 0.8 * var(--navbarHeight) * 0.5);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: calc(0.65 * 0.8 * var(--navbarHeight) * 0.5);
  cursor: pointer;
}

#navbarDonateButton:hover {
  border: 0.325vh solid var(--colaBrown);
  color: var(--colaBrown);
  background: transparent;
}

#navbarSearchIcon {
  height: 50%;
  aspect-ratio: 1;
  margin-right: 2vw;
  margin-left: 0;
  background-image: url("../Images/NavbarSearchIcon.png");
  background-size: contain;
  cursor: pointer;
}

#navbarSearchIcon:hover {
  background-image: url("../Images/NavbarSearchIconHover.png");
}

/* CART LIGHTBOX */

#cartBackdrop {
  position: fixed;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background-color: rgba(168, 234, 213, 0.5);
  top: 0;
  left: 0;
  display: none;
  justify-content: right;
}

#cartLeaveContainer {
  width: 65vw;
  height: 100%;
  background: transparent;
}

#cartDisplayContainer {
  width: 35vw;
  height: calc(100vh - (35vw) / 3.75);
  background: var(--whiteLace);
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
  box-sizing: border-box;
  overflow: overlay;
  overflow-x: hidden;
}

#cartDisplayHeading {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  margin-bottom: 3vh;
}

#cartDisplayTitle {
  font-size: 4vh;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--colaBrown);
  font-weight: 500;
  margin-left: 0;
}

#cartDisplayCount {
  font-size: 2.5vh;
  font-family: "Urbanist", sans-serif;
  color: var(--freshGuac);
  font-weight: 400;
  margin-top: calc(1.5vh / 2);
  margin-left: 2vw;
  margin-right: auto;
}

#cartDisplayX {
  height: 3vh;
  aspect-ratio: 1;
  margin-left: auto;
  margin-right: 0;
  background-image: url("../Images/BackpackXIcon.png");
  background-size: contain;
  cursor: pointer;
}

#cartDisplayX:hover {
  background-image: url("../Images/BackpackXIconHover.png");
}

.cartItemContainer {
  border: 0.325vh solid var(--freshGuac);
  width: 100%;
  aspect-ratio: 4.5;
  border-radius: calc(52.5vh * 0.85 * 0.05);
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  margin-bottom: 2vh;
  flex-shrink: 0;
  overflow: hidden;
}

.cartItemImage {
  width: 40%;
  height: 100%;
  background-size: cover;
}

.cartItemInfoBox {
  width: 60%;
  height: 100%;
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.cartItemName {
  font-size: calc(31vw / 6 * 0.25);
  font-family: "Urbanist", sans-serif;
  color: var(--freshGuac);
  font-weight: 500;
  line-height: 1.75;
}

.cartItemSubject {
  font-size: calc(31vw / 6 * 0.2);
  font-family: "Urbanist", sans-serif;
  color: var(--colaBrown);
  font-weight: 400;
  line-height: 1.75;
}

.cartItemRemove {
  font-size: calc(31vw / 6 * 0.2);
  font-family: "Urbanist", sans-serif;
  color: var(--freshGuac);
  font-weight: 400;
  line-height: 1.75;
  text-decoration: none;
  cursor: pointer;
}

.cartItemRemove:hover {
  text-decoration: underline;
}

#cartCheckoutContainer {
  width: 35vw;
  aspect-ratio: 3.75;
  position: fixed;
  bottom: 0;
  left: 65vw;
  box-sizing: border-box;
  background: var(--whiteLace);
  border-top: 0.5vh solid var(--aloeCream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#cartCheckoutText {
  font-size: calc(34.5vw / 3.75 * 0.12);
  font-family: "Urbanist", sans-serif;
  color: var(--colaBrown);
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

#cartCheckoutButton {
  width: 70%;
  aspect-ratio: 9;
  background: var(--aloeCream);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colaBrown);
  font-family: "Barlow Condensed", sans-serif;
  font-size: calc(34.5vw * 0.7 / 9 * 0.5);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

#cartCheckoutButton:hover {
  background: transparent;
  border: 0.325vh solid var(--aloeCream);
  color: var(--aloeCream);
}

/* Search Lightbox */

#searchLightbox {
  height: var(--navbarHeight);
  width: 100vw;
  background-color: var(--whiteLace);
  box-sizing: border-box;
  border-bottom: 0.25vh solid var(--aloeCream);
  display: none;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

#searchInputContainer {
  display: flex;
  flex-direction: row;
}

#searchInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  width: 65vw;
  height: calc(0.5 * var(--navbarHeight));
  border: 0.325vh solid var(--freshGuac);
  border-right: 0vh solid transparent;
  border-top-left-radius: calc(0.25 * var(--navbarHeight));
  border-bottom-left-radius: calc(0.25 * var(--navbarHeight));
  background: transparent;
  padding-left: calc(70vw * 0.025);
  padding-right: calc(70vw * 0.025);
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  font-size: calc(0.25 * var(--navbarHeight));
  font-weight: 500;
  color: var(--colaBrown);
}

#searchInput::placeholder {
  color: var(--freshGuac);
}

#searchInputSearchContainer {
  height: calc(0.5 * var(--navbarHeight));
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.325vh solid var(--freshGuac);
  border-left: 0vh solid transparent;
  border-top-right-radius: calc(0.25 * var(--navbarHeight));
  border-bottom-right-radius: calc(0.25 * var(--navbarHeight));
  box-sizing: border-box;
}

#searchInputSearchButton {
  height: calc(0.3 * var(--navbarHeight));
  aspect-ratio: 1;
  background-image: url("../Images/NavbarSearchIcon.png");
  background-size: contain;
  cursor: pointer;
}

#searchInputSearchButton:hover {
  background-image: url("../Images/NavbarSearchIconHover.png");
}

#searchLightboxX {
  height: calc(0.3 * var(--navbarHeight));
  aspect-ratio: 1;
  background-image: url("../Images/BackpackXIcon.png");
  background-size: contain;
  cursor: pointer;
}

#searchLightboxX:hover {
  background-image: url("../Images/BackpackXIconHover.png");
}

/* MOBILE CSS */

#navbarMobileMenuContainer {
  width: 25vw;
  height: 75%;
  box-sizing: border-box;
  padding-left: 3vw;
  align-items: center;
  justify-content: left;
  display: none;
}

#navbarMobileMenuButton {
  height: 100%;
  aspect-ratio: 1;
  background: pink;
  display: none;
}

#navbarMobileBackpackContainer {
  width: 25vw;
  height: 75%;
  box-sizing: border-box;
  padding-right: 3vw;
  align-items: center;
  justify-content: right;
  display: none;
}

#navbarMobileBackpack {
  height: 100%;
  aspect-ratio: 1;
  background-size: contain;
  background-image: url("../Images/NavbarBackpackIcon.png");
  display: none;
}

#navbarMobileBackpackCount {
  height: calc(100vw / 7 * 0.75 * 0.35);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--aloeCream);
  position: relative;
  z-index: 40;
  left: calc(100vw / 7 * 0.75 - (100vw / 7 * 0.75 * 0.35) / 2);
  color: var(--colaBrown);
  font-size: calc(100vw / 7 * 0.75 * 0.35 * 0.75);
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  display: none;
  align-items: center;
  justify-content: center;
}

@media screen and (min-height: 100vw) {
  body {
    overflow-x: hidden;
  }

  #pagebody {
    margin-top: calc(100vw / 7);
    width: 100vw;
  }

  #navbar {
    height: unset;
    width: 100vw;
    aspect-ratio: 7;
  }

  #navbarLogoContainer {
    width: 50vw;
  }

  #navbarMainLogo {
    font-size: calc(0.5 * 100vw / 7);
  }

  #navbarSubLogo {
    font-size: calc(0.2 * 100vw / 7);
  }

  #navbarMenuContainer {
    display: none;
  }

  #navbarMobileMenuContainer {
    display: flex;
  }

  #navbarMobileMenuButton {
    display: block;
  }

  #navbarOptionsContainer {
    display: none;
  }

  #navbarMobileBackpackContainer {
    display: flex;
  }

  #navbarMobileBackpack {
    display: block;
  }

  #cartLeaveContainer {
    width: 0;
    height: 0;
    display: none;
  }

  #cartDisplayContainer {
    width: 100vw;
    height: 80vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  #cartDisplayHeading {
    height: 6vh;
    width: 100%;
    margin-bottom: 1.5vh;
  }

  #cartDisplayTitle {
    font-size: 3vh;
  }

  #cartDisplayCount {
    font-size: calc(2.5vh * 0.75);
    margin-top: calc(1.5vh / 2 * 0.75);
    margin-left: 5vw;
  }

  #cartDisplayX {
    height: calc(3vh * 0.75);
  }

  .cartItemContainer {
    border: 0.325vh solid var(--freshGuac);
    width: 100%;
    aspect-ratio: 3.5;
    border-radius: calc(90vw * 0.05);
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
  }

  .cartItemName {
    font-size: calc(90vw / 4.5 * 0.2);
  }

  .cartItemSubject {
    font-size: calc(90vw / 4.5 * 0.15);
  }

  .cartItemRemove {
    font-size: calc(90vw / 4.5 * 0.15);
  }

  #cartCheckoutContainer {
    width: 100vw;
    height: 20vh;
    padding-left: 5vw;
    padding-right: 5vw;
    aspect-ratio: unset;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
  }

  #cartCheckoutText {
    font-size: calc(35vh * 0.05);
    text-align: center;
  }

  #cartCheckoutButton {
    width: 70%;
    aspect-ratio: 7;
    font-size: calc(100vw * 0.7 / 7 * 0.5);
  }
}
